img{ 
    width:300px;
}
h1{ 
    color:blue;
}
p{ 
    color:black;
 }
h4{ 
    color:purple;
}
ul{
    color:blue;
}
body{
    background-color:pink;
}
h3{ 
    color:purple;
}
ol{ 
    color:blue;
}